---
import type { TechProps } from '../data/technologies'
import { technologies as techIconMap } from '../data/technologies.ts'

const { technologies } = Astro.props as { technologies: string[] }
---

<div class="technology-list">
    {
        technologies.map((techId) => {
            const tech = techIconMap[techId]
            return tech ? (
                <a href={tech.url} title={tech.title} target="_blank">
                    {tech.logo.type === 'img' ? (
                        <img
                            src={tech.logo.value.src}
                            alt={tech.title}
                            class="block h-6 sm:h-8 lg:h-6.5 w-auto object-contain"
                        />
                    ) : tech.logo.type === 'svg' ? (
                        <tech.logo.value class="block h-6 sm:h-8 lg:h-6.5 w-auto object-contain" />
                    ) : (
                        <div
                            class="h-6 sm:h-8 lg:h-6.5 inline-flex items-center justify-center"
                            set:html={tech.logo.value}
                        />
                    )}
                </a>
            ) : (
                <span class="mx-1 p-0.5 px-1.5 text-sm text-white rounded-lg text-nowrap">
                    {techId}
                </span>
            )
        })
    }
</div>
